
.navigation {
    width: 220px;
    background-color: white;
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar-nav {
    flex: 1;
    padding: var(--spacing-4) 0;

}

.nav-link {
    margin-top: var(--spacing-3);
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    color: var(--text-secondary);
    background-color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    border-color: transparent;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: var(--spacing-3);
}

.nav-link:hover {
  background-color: rgba(30, 136, 229, 0.05);
  color: var(--primary-blue);
}

.nav-link.active {
  background-color: rgba(30, 136, 229, 0.1);
  color: var(--primary-blue);
  border-left: 3px solid var(--primary-blue);
}

.nav-icon {
    margin-right: var(--spacing-3);
    display: flex;
    align-items: center;
    justify-content: center;
}

